.key-color-sample {
  float:left;
  height:13px;
  width:13px;
  margin:10px;
  margin-top:3px;
}
.epic-graph-section{
  height:15px;
  width:545px;
  border-style:solid;
  border-width:1px;
  padding-left:-10px;
}
.epic-graph {
float:left;
height:13px;
}
